<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KMA giftshop</title>
    <!-- LESS основний файл -->
    <link rel="stylesheet/less" type="text/css" href="assets/less/shop.less"/>
    <!-- LESS JavaScript компілятор -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>
</head>

<body>
<div class="panel row">
    <div class="label">
        <img src="assets/media/logo_naukma.png" class="logo-naukma" width="89.5" height="79.5">
        <div class="label-son">
            <div class="name">KMA GIFTSHOP</div>
            <div class="logo">Інтернет магазин могилянського мерчу</div>
        </div>
    </div>
    <div class="panel-buttons-parent">
        <div class="panel-buttons">
            <button class="menu-button">Головна</button>
            <button class="menu-button">Магазин</button>
            <button class="menu-button">Контакти</button>
        </div>
    </div>
</div>

<div class="shop-header">
    <div class="category-name">Всі товари</div>
</div>
<div class="container">

    <div class="side-panel">
        <div class="side-panel-son">
            <div class="categories">
                <div class="category">Жінки <img src="assets/media/down_black.png" width="20" height="10"></div>
                <div class="sub-category">Світшоти</div>
                <div class="sub-category">Худі</div>
                <div class="sub-category">Футболки</div>
                <div class="sub-category">Поло</div>
                <div class="sub-category">Верхній одяг</div>
                <div class="category">Чоловіки <img src="assets/media/down_black.png" width="20" height="10"></div>
                <div class="sub-category">Світшоти</div>
                <div class="sub-category">Худі</div>
                <div class="sub-category">Футболки</div>
                <div class="sub-category">Поло</div>
                <div class="sub-category">Верхній одяг</div>
                <div class="category">Дитячі товари</div>
                <div class="category">Аксесуари</div>
            </div>
        </div>
    </div>

    <div class="products-list">
        <div class="product">
            <img src="assets/media/bomber1.jpg" class="product-image">
            <div class="product-name">Бомбер</div>
            <div class="product-price">₴690.00</div>
        </div>
        <div class="product">
            <img src="assets/media/hoodie1.jpg" class="product-image">
            <div class="product-name">Худі рожеве</div>
            <div class="product-price">₴690.00</div>
        </div>
        <div class="product">
            <img src="assets/media/hoodie2.jpg" class="product-image">
            <div class="product-name">Худі класика</div>
            <div class="product-price">₴590.00</div>
        </div>
        <div class="product">
            <img src="assets/media/sweatshot1.jpg" class="product-image">
            <div class="product-name">Світшот Петръ Могила</div>
            <div class="product-price">₴790.00</div>
        </div>
        <div class="product">
            <img src="assets/media/sweatshot2.jpg" class="product-image">
            <div class="product-name">Світшот КМА з вишивкою</div>
            <div class="product-price">₴690.00</div>
        </div>
        <div class="product">
            <img src="assets/media/polo1.jpg" class="product-image">
            <div class="product-name">Поло КМА Airy</div>
            <div class="product-price">₴550.00</div>
        </div>
    </div>
</div>
<div class="contacts">

</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="assets/js/main.js"></script>
</body>
